@CHARSET "ISO-8859-1";

body
{
	text-align:center;
}
.name
{
	color:black;
	font-size:18px;
}

.topnav {
  background-color: #000000;

  overflow: hidden;
}

.topnav a {
	font-family:Cooper;
  float: left;
 
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ffff80;
  color: black;
}

.topnav a.active {
  background-color: #ff8040;
  color: white;
}
.form
{ 
height:100%; 
width:400px; 
border:1px solid; 

color:white;
text-align:left;
padding:20px;
} 

.form{ width:470px; margin:0 auto; padding-left:50px; padding-top:20px;}

.form input[type="text"] { color:Black; }

.form input.button
{ 
	background: white; display: inline-block; padding: 5px 10px 6px; color: #333;
text-decoration: none; font-weight: bold; line-height: 1;position: relative; cursor: pointer; font-size: 14px;
font-family:Verdana, Geneva, sans-serif;
}